<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <title>Ipkiss</title>
      <link rel="icon" href="../static/mask_icon_140145.ico">
      <link rel="stylesheet" href="../static/materialize/css/materialize.min.css"/>
      <script src="../static/materialize/js/materialize.min.js"></script>
      <link rel="stylesheet" href="../static/custom.css">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
      <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
          .ct-perfect-fourth:before{
              padding-bottom: 25%;
          }
      </style>
  </head>
  <body id="corpo">
    <nav class="nav-wrapper light-green">
        <a href="#" class="brand-logo"><img src="../static/logo.png" alt="logo IFSP" class="logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <div>
            <h3 class="center-align">Ipkiss</h3>
        </div>
        <br/>
        <div class="row">
            <div class="col s12 m6">
                <div class="stream">
                    <img class="img" src="{{ url_for('video_raiz') }}" alt="Imagens capturadas pela câmera">
                </div>
            </div>
             <div class="col s12 m6">
                 <div class="ciclo">
                    <figure style="opacity : 0.7"  id="ft0" class="foto">
                        <img class="imagem" src="" id="im0" alt="imagem0">
                        <figcaption class="hora"></figcaption>
                    </figure>
                    <figure  id="ft1" class="foto">
                        <img class="imagem" src="" id="im1" alt="imagem1">
                        <figcaption class="hora"></figcaption>
                    </figure>
                     <!-- style="display : none"-->
                    <figure style="opacity : 0.7;" id="ft2" class="foto">
                        <img class="imagem" src="" id="im2" alt="imagem2">
                        <figcaption class="hora"></figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m7">
                Ordenar por:
            </div>
            <div id="botoes_troca">
                <button id="horas" class="btn-small disabled" onclick="botoes(0, this)">Horas</button>
                <button id="dias" class="waves-effect waves-light btn-small light-green lighten-1" onclick="botoes(1, this)">Dias</button>
                <button id="meses" class="waves-effect waves-light btn-small light-green lighten-1" onclick="botoes(2, this)">Meses</button>
            </div>
        </div>
        <div class="ct-chart ct-perfect-fourth"></div>
    </div>
  </body>
  <footer class="page-footer red">
      <div class="container">
          <div class="row">
              <div class="col l6 s12">
                  <h5 class="white-text">Colaborares</h5>
                  <p class="grey-text text-lighten-4">Fábio Teixeira(Orientador)</p>
                  <p class="grey-text text-lighten-4">Thiago Donadon Homem(Coorientador)</p>
              </div>
              <div class="col l6 s12">
                  <h5 class="white-text">Emails</h5>
                  <p class="grey-text text-lighten-4">fabioteixeira@prof.ifsp.edu.br</p>
                  <p class="grey-text text-lighten-4">thiagohomem@ifsp.edu.br</p>
              </div>
          </div>
      </div>
      <div class="footer-copyright">
          <div class="container center">
              ©Todos os Direitos Autorais são de propriedade da instituição de ensino IFSP - 2020
          </div>
    </div>
  </footer>
  <!--suppress InfiniteLoopJS -->
  <script>
    var getData = $.get('/horas');
    var MyChart;
    getData.done(function (results) {
        let data = {
            labels : troca_graf(results.type),
            series : [results.results]
            };
        let options = {
            width: '800px',
            height: '200px'
        };

        MyChart = new Chartist.Line('.ct-chart', data, options);
    });

    function carrosel() {
        let getFotos = $.get('/carrosel');
        getFotos.done(function (resultados) {
            //console.log(resultados.fotos.length);
            let foto0;
            let foto1;
            let foto2;
            if(resultados.fotos.length === 3){
                foto0 = resultados.fotos[0];
                foto1 = resultados.fotos[1];
                foto2 = resultados.fotos[2];
                $('#im0').attr('src',`data:image/png;base64,${foto0.imagem}`)
                    .parent('figure').children('.hora').text(`${foto0.hora}`)
                    .parent('figure').css('display', 'inline-flex');
                $('#im1').attr('src',`data:image/png;base64,${foto1.imagem}`)
                    .parent('figure').children('.hora').text(`${foto1.hora}`)
                     .parent('figure').css('display', 'inline-flex');
                $('#im2').attr('src',`data:image/png;base64,${foto2.imagem}`)
                    .parent('figure').children('.hora').text(`${foto2.hora}`)
                     .parent('figure').css('display', 'inline-flex');
                    //.parent('figure').fadeToggle(500);
            }else if(resultados.fotos.length === 2){
                foto0 = resultados.fotos[0];
                foto1 = resultados.fotos[1];
                 $('#im1').attr('src',`data:image/png;base64,${foto0.imagem}`)
                    .parent('figure').children('.hora').text(`${foto0.hora}`)
                    .parent('figure').css('display', 'inline-flex');
                $('#im2').attr('src',`data:image/png;base64,${foto1.imagem}`)
                    .parent('figure').children('.hora').text(`${foto1.hora}`)
                     .parent('figure').css('display', 'inline-flex');
            }else if(resultados.fotos.length === 1){
                foto0 = resultados.fotos[0];
                $("#im2").attr('src',`data:image/png;base64,${foto0.imagem}`)
                    .parent('figure').children('.hora').text(`${foto0.hora}`)
                    .parent('figure').css('display', 'inline-flex');
            }
        });
    }
    //carrosel();
    function formata_data(data) {
        date = data.split('-');
        return date[2]+'/'+date[1]+'/'+date[0];
    }

    function updateGrafico() {
        let opcao = $("#botoes_troca").find(".disabled").attr("id");
        updateData = $.get(`/${opcao}`);
        updateData.done(function (results) {
            var data = {
            labels : troca_graf(results.type),
            series : [results.results]
            };
            MyChart.update(data);
        });
    }
    function botoes(tipo, botao){
        let desativado = $('.disabled');
        desativado.removeClass().addClass('waves-effect waves-light btn-small light-green lighten-1');
        let bt = $(botao);
        bt.removeClass().addClass('btn-small disabled');
        var dado;
        if(tipo === 0){
            dado = $.get('/horas');
        }else if(tipo === 1){
            dado = $.get('/dias');
        }else if(tipo === 2){
            dado = $.get('/meses');
        }
        dado.done(function (results) {
            var data = {
            labels : troca_graf(tipo),
            series : [results.results]
            };
            MyChart.update(data);
        })
    }
    //$('#update').on('click', updateChart);

    function diasNoMes() {
        let hj = new Date();
        let data = new Date(hj.getFullYear(), hj.getMonth()+1, 0);
        return data.getDate();
    }
    function troca_graf(tipo){
        var eixo_x = [];
        if(tipo === 0){
            eixo_x = ['00:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00',
                '12:00', '13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00']
        }
        else if(tipo === 1){
            lastday = diasNoMes();
            for(x=1; x<=lastday; x++){
                if(x<10){
                    eixo_x.push('0'+x.toString())
                }else{
                    eixo_x.push(x.toString())
                }
            }
        }
        else if(tipo === 2){
            eixo_x = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
        }
        return eixo_x;
    }
    setInterval(carrosel,1000);
  </script>
</html>